.curtain {
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.curtain-img {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform-origin: 50% 50%;
  transform: scale(0.75) rotate(30deg);
  backface-visibility: hidden;
  will-change: transform;
}

.curtain-img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: 50% 50%;
  backface-visibility: hidden;
}

.curtain-copy {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  pointer-events: none;
  will-change: transform;
}

.curtain-header {
  position: relative;
  display: flex;
  flex: 1;
  margin-top: 5svh;
  will-change: transform;
}

.curtain-header:nth-child(1) {
  justify-content: flex-end;
}

.curtain-header:nth-child(2) {
  justify-content: flex-start;
}

.curtain-copy h1 {
  font-family: var(--font-big-shoulders), "Humane", sans-serif;
  font-size: clamp(3rem, 10vw, 8rem);
  line-height: 0.85;
  text-transform: uppercase;
  color: #f4f4f4;
}

@media (max-width: 999px) {
  .curtain {
    position: relative;
    height: 100svh;
  }
}
